body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 1em;
    height: 100%;
    overflow: hidden;
}

:focus {
    outline: none;
}

.app-logo {
    height: 75%;
    padding-right: 16px;
}

.app-title {
    font-weight: bold !important;
}

#volumen {
    -webkit-appearance: slider-vertical;
}

.breadcrumb {
    display: table-row;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    color: #eee;
    display: table-cell;
    position: relative;
    font-size: 0.8em;
}

.breadcrumb li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.breadcrumb li:last-child {
    font-weight: bold;
}


.fade.ng-enter {
    transition: 0.25s linear all;
    opacity: 0;
}

.fade.ng-enter.ng-enter-active {
    opacity: 1;
}


.files-links {
    list-style: none;
    display: block;
    margin: 0;
    padding: 2px;
}

.files-links li {
    padding: 10px;
    background-color: #F3E6C0;
    margin: 2px;
}

.files-links li.type-file {
    background-color: #FFF;
}

.files-links li:hover {
    cursor:pointer;
    background-color: #DFD;
}
