<!DOCTYPE html>
<html>
    <head>
        <title>RPI Media Center</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link crossorigin="anonymous" href="bower_components/angular-material/angular-material.css" rel="stylesheet">
        <link crossorigin="anonymous" href="css/media_center.css" rel="stylesheet">
        
        <script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
        <script type="text/javascript" src="bower_components/angularjs/angular.js"></script>
        <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
        <script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script>
        <script type="text/javascript" src="bower_components/angular-messages/angular-messages.js"></script>
        <script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
        
        <script type="text/javascript">
            var APP_ID = "671A6CC5";
        </script>
        
        <script type="text/javascript" src="media_center_app.js"></script>
        <script type="text/javascript" src="services/HomeCastSender.js"></script>
        <script type="text/javascript" src="controllers/MediaCenterController.js"></script>
        <script type="text/javascript" src="controllers/PlaylistController.js"></script>
        <script type="text/javascript" src="controllers/ExplorerController.js"></script>
    </head>
    <body>
        <div class="main-container" ng-app="MediaCenter" ng-controller="MediaCenterController" layout="column" ng-cloak>
            
            
            
            <section layout="row" flex>

                <md-content flex>
                    <md-toolbar>
                        <h1 class="md-toolbar-tools">RPI Cast</h1>
                    </md-toolbar>
                
                    <md-content flex layout-padding>

                        <div layout="column" ng-controller="ExplorerController">

                            <md-button ng-click="togglePlaylist()" class="md-primary" hide-gt-md>
                                Toggle Playlist
                            </md-button>

                            <div id="controls">
                                <input id="progress" type="range" min="0" max="100" step="1" ng-mouseup="homeCastSender.seekMedia(this.value);" ng-mousedown="homeCastSender.clearTimer();" />
                                <input id="volumen" type="range" min="0" max="1" step="0.1" />
                                <button ng-click="homeCastSender.LaunchApp()">Launch App</button>
                                <!--<button onclick="homeCastSender.LoadMedia()">Load Media</button>-->
                                <button ng-click="homeCastSender.Play()">Play</button>
                                <button ng-click="homeCastSender.Pause()">Pause</button>
                                <button ng-click="homeCastSender.Stop()">Stop</button>
                                <!--<button ng-click="homeCastSender.UnloadMedia()">Unload Media</button>-->
                                <button ng-click="homeCastSender.StopApp()">Stop App</button>
                            </div>

                            <div id="parents-container">
                                <ul class="breadcrumb">
                                    <li ng-repeat="p in parents" ng-class="{triangle: ($last && !current.isRoot) || !current.isRoot }" class="type-{{p.type}}" ng-click="getFiles(p)">{{p.name}}</li>
                                    <li ng-if="current.isFolder && !current.isRoot" class="current type-{{current.type}}">{{current.name}}</li>
                                </ul>
                            </div>

                            <div id="files-container">
                                <ul class="files-links">
                                    <li ng-repeat="f in files" class="fade type-{{f.type}}" ng-click="f.type === 'folder' ? getFiles(f) : loadFile(f)">{{f.name}}</li>
                                </ul>
                            </div>

                            <div id="media-container">
                                <!--<video id="media-video" class="video" controls autoplay preload="metadata" crossorigin="anonymous">
                                    <source src="/media?filename={{name}}&parent={{parentPath}}" type='video/mp4' />
                                    {{#subtitle}}
                                    <track label="español" kind="subtitles" srclang="es" src="/media?filename={{subtitle}}&parent={{parentPath}}" default />
                                    {{/subtitle}}
                                </video>
                                <video id="media-audio" class="audio" controls autoplay preload="metadata" crossorigin="anonymous">
                                    <source src="/media?filename={{name}}&parent={{parentPath}}" type='audio/mpeg' />
                                </video>
                                <img id="media-image" class="image" src="/media?filename={{name}}&parent={{parentPath}}">-->
                            </div>

                        </div>

                        <div flex></div>

                    </md-content>
                </md-content>
                
                <md-sidenav class="md-sidenav-right" md-component-id="playlist" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
                    <md-toolbar>
                        <h1 class="md-toolbar-tools">Playlist</h1>
                    </md-toolbar>
                    <md-content layout-padding ng-controller="PlaylistController">
                        <md-button ng-click="close()" class="md-primary" hide-gt-md>
                            Close Playlist
                        </md-button>
                        <p hide show-gt-md>
                            This sidenav is locked open on your device. To go back to the default behavior,
                            narrow your display.
                        </p>
                    </md-content>

                </md-sidenav>
            </section>
            
        </div>
    </body>
</html>
